<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carrot.base.androidbase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity_" android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity_">

        </activity>

        <activity android:name=".activity.TaskListActivity_" android:label="任务列表" android:launchMode="standard">
        </activity>

        <activity android:name=".activity.SettingActivity_" android:label="设置">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity_"/>
        </activity>

        <activity android:name=".activity.ChangePsdActivity_" android:label="修改密码">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingActivity_"/>
        </activity>

        <activity android:name=".activity.Type2Activity_">
        </activity>

        <activity android:name=".activity.handle.LineBrokenManagementActivity_" android:label="@string/type_1_1"></activity>
        <activity android:name=".activity.handle.CollectResolveTroubleActivity_" android:label="@string/type_1_2"></activity>
        <activity android:name=".activity.handle.ExtendBussinessSetupActivity_" android:label="@string/type_1_3"></activity>
        <activity android:name=".activity.handle.MeterTroubleActivity_" android:label="@string/type_1_4"></activity>
        <activity android:name=".activity.handle.OrderHandleActivity_" android:label="@string/type_1_5"></activity>
        <activity android:name=".activity.handle.BusinessAuditeActivity_" android:label="@string/type_1_6"></activity>
        <activity android:name=".activity.handle.StopStartElectricActivity_" android:label="@string/type_1_7"></activity>


        <activity android:name=".activity.handle.CoreMeterTestActivity_" android:label="@string/type_2_1"></activity>
        <activity android:name=".activity.handle.TotalPerformanceTestActivity_" android:label="@string/type_2_2"></activity>
        <activity android:name=".activity.handle.EquipmentCheckActivity_" android:label="@string/type_2_3"></activity>
        <activity android:name=".activity.handle.ResolveRecordActivity_" android:label="@string/type_2_4"></activity>
        <activity android:name=".activity.handle.CrossTestActivity_" android:label="@string/type_2_5"></activity>
        <activity android:name=".activity.handle.VoltageMeasurementActivity_" android:label="@string/type_2_6"></activity>
        <activity android:name=".activity.handle.EarthResistanceTestActivity_" android:label="@string/type_2_7"></activity>
        <activity android:name=".activity.handle.SpecialSecurityCheckActivity_" android:label="@string/type_2_8"></activity>


        <activity android:name=".activity.handle.DistributionNetworkEngineeringActivity_" android:label="@string/type_3_1"></activity>


        <activity android:name=".activity.handle.CarManagementActivity_" android:label="@string/type_4_1"></activity>
    </application>

</manifest>