<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carrot.base.androidbase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity_" android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity_">

        </activity>

        <activity android:name=".activity.TaskListActivity_" android:label="任务列表" android:launchMode="standard">
        </activity>

        <activity android:name=".activity.SettingActivity_" android:label="设置">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity_"/>
        </activity>

        <activity android:name=".activity.ChangePsdActivity_" android:label="修改密码">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingActivity_"/>
        </activity>

        <activity android:name=".activity.Type2Activity_">
        </activity>

        <activity android:name=".activity.handle.LineBrokenManagementActivity_"
            ></activity>
        <activity android:name=".activity.handle.CollectResolveTroubleActivity_"
            ></activity>
        <activity android:name=".activity.handle.ExtendBussinessSetupActivity_"
            ></activity>
        <activity android:name=".activity.handle.MeterTroubleActivity_"
            ></activity>
        <activity android:name=".activity.handle.OrderHandleActivity_"
            ></activity>
        <activity android:name=".activity.handle.BusinessAuditeActivity_"
            ></activity>
        <activity android:name=".activity.handle.StopStartElectricActivity_"
            ></activity>


        <activity android:name=".activity.handle.CoreMeterTestActivity_"
            ></activity>
        <activity android:name=".activity.handle.TotalPerformanceTestActivity_"
            ></activity>
        <activity android:name=".activity.handle.EquipmentCheckActivity_"
            ></activity>
        <activity android:name=".activity.handle.ResolveRecordActivity_"
            ></activity>
        <activity android:name=".activity.handle.CrossTestActivity_"
            ></activity>
        <activity android:name=".activity.handle.VoltageMeasurementActivity_"
            ></activity>
        <activity android:name=".activity.handle.EarthResistanceTestActivity_"
            ></activity>
        <activity android:name=".activity.handle.SpecialSecurityCheckActivity_"
            ></activity>


        <activity android:name=".activity.handle.DistributionNetworkEngineeringActivity_"
            ></activity>


        <activity android:name=".activity.handle.CarManagementActivity_"
            ></activity>
    </application>

</manifest>